# ignore everything
**/*
# but not these ...
!public/
!frontend/
!package.json
!bun.lockb
!tsconfig.json
!tsconfig.app.json
!tsconfig.node.json
!index.html
!scripts/postBuild.ts
!my_package
**/__pycache__/
**/*.py[cod]
# hooks are needed to build the package
!scripts/hooks/*
!pyproject.toml
!requirements/main.txt
!LICENSE
!README.md
