**/.local/
**/.venv/
**/build/
**/dist/
**/site/
**/out/
**/coverage/
**/.env
!**/.env.example
*.log
*.db
*.sqlite
*.sqlite3
__pycache__/
*.py[cod]
*.egg
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.DS_Store
.coverage
**/*.coverage*
**/*.tsbuildinfo
**/*_db
**/*cache
**/*log
my_package/static/
**/.env
!**/.env.example
